#cells {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

.cell {
  background: #343434;
  padding: 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.title {
  color: white;
  font-weight: bold;
}

body {
  background: #272727;
  color: #a2a2a2;
  font: 14px system-ui;
  margin: 20px;
  overflow-y: scroll;
}

form {
  background: #343434;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.text {
  background: black;
  border: 1px solid #525252;
  color: #d0d0d0;
  padding: 4px;
}

.button {
  background: #272727;
  border: 1px solid #525252;
  color: #d0d0d0;
  padding: 3px 10px;
  margin-right: 5px;
}

.button:hover {
  color: white;
}

label {
  color: white;
  margin-right: 10px;
}

select {
  background: #272727;
  border: 1px solid #525252;
  color: #d0d0d0;
  padding: 4px;
}
img {
  max-width: 320px;
  max-height: 200px;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

#info {
  text-align: right;
}