body {
  background: #272727;
  color: #a2a2a2;
  font: 14px system-ui;
  margin: 20px;
  overflow-y: scroll;
}


/* header */

#nameFilter {
  margin-left: 2px;
  margin-bottom: 5px;
}

.text {
  background: black;
  border: 1px solid #525252;
  color: #a2a2a2;
  padding: 6px;
  width: 500px;
  margin-bottom: 10px;
}

.text::placeholder {
  color: #525252;
}

.button {
  background: black;
  border: 1px solid #525252;
  color: #a2a2a2;
  padding: 3px 10px;
  margin-right: 5px;
}

.button:hover {
  color: white;
}

fieldset {
  border: 1px solid #343434;
  margin-bottom: 5px;
}

label, legend {
  color: white;
  margin-right: 10px;
}

fieldset > label {
  color: #d0d0d0;
}

select {
  background: black;
  border: 1px solid #525252;
  color: #a2a2a2;
  padding: 4px;
  margin-top: 5px;
}

#sort {
  margin-top: 10px;
  margin-left: 2px;
  margin-bottom: 20px;
  float: left;
}

#info {
  margin-top: 17px;
  margin-right: 2px;
  margin-bottom: 13px;
  float: right;
}


/* main */

#cells {
  clear: both;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

.cell {
  background: #343434;
  padding: 10px;
  text-align: center;
}

.hidden {
  display: none;
}

img {
  max-width: 320px;
  max-height: 200px;
}

.title {
  color: white;
  font-weight: bold;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}