#container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

#cell {
  background: #EDE7F6;
  padding: 10px;
  text-align: center;
}

.title {
  font-weight: bold;
}

body {
  font: 14px system-ui;
  margin: 20px;
}

img {
  max-width: 320px;
  max-height: 200px;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}